<web-app>
  <display-name>Archetype Created Web Application</display-name>

<servlet>

<servlet-name>Login</servlet-name>

<servlet-class>Palinsesto.Login</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>Login</servlet-name>

<url-pattern>/login</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>Notizie</servlet-name>

<servlet-class>Palinsesto.Notizie</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>Notizie</servlet-name>

<url-pattern>/notizie</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>Canale</servlet-name>

<servlet-class>Palinsesto.canale</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>Canale</servlet-name>

<url-pattern>/canale</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>Abbonamenti</servlet-name>

<servlet-class>Palinsesto.Abbonamenti</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>Abbonamenti</servlet-name>

<url-pattern>/abbonamenti</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>Amministratore</servlet-name>

<servlet-class>Palinsesto.Amministratore</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>Amministratore</servlet-name>

<url-pattern>/amministratore</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>Database</servlet-name>

<servlet-class>Palinsesto.Database</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>Database</servlet-name>

<url-pattern>/database</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>Emittenti</servlet-name>

<servlet-class>Palinsesto.Emittenti</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>Emittenti</servlet-name>

<url-pattern>/emittenti</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>Gestioneaccount</servlet-name>

<servlet-class>Palinsesto.Gestioneaccount</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>Gestioneaccount</servlet-name>

<url-pattern>/gestioneaccount</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>Programma</servlet-name>

<servlet-class>Palinsesto.Programma</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>Programma</servlet-name>

<url-pattern>/programma</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>Ricerca</servlet-name>

<servlet-class>Palinsesto.Ricerca</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>Ricerca</servlet-name>

<url-pattern>/ricerca</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>Registrazione</servlet-name>

<servlet-class>Palinsesto.registrazione</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>registrazione</servlet-name>

<url-pattern>/registrazione</url-pattern>

</servlet-mapping>

</web-app>